@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 2.5rem;
}
body{
    background-image: url(images-zuri/images/bg-intro-mobile.png);
    background-color: #FF776F;
    margin: 40px 150px;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    max-width: 100%;
}
.leftdiv{
    width: 50%;
}
.rightdiv{
    width: 50%;
    /* height: 40vh; */
    margin-left: 30px;
    /* align-content: center; */
}    
.input-styling0{
    background-color: #5D54A3;
    min-height: 8vh;
    border-radius: 10px;
    margin-bottom: 10px;
}   
.input-styling1{
    background-color: #FFFFFF;
    height: 68vh;
    padding: 27px 0 35px 0;
    border-radius: 20px;
}
.form-style{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .input-styling{
   width: 85%;
   height: 7vh;
   /* padding: 0px 0 30px 0; */
   margin-top: 25px;
   border-radius: 5px;
   border-width: 1px;
   border-color: #A5A0B3;
   padding-left: 20px;
   font-weight: 800;
}
.input-spec:hover{
   
}
h1{
    color: white;
    font-size: 45px;
    font-family: sans-serif;
}
.text-style{
    color: white;
    font-size: 18px;
    font-weight: normal;
    
}
.text-style1{
    color: white;
    padding: 15px 0 0 0;
    text-align-last: center;
    /* text-justify: auto; */
}
small{
    align-items: center;
    margin-top: 15px;
    font-weight: 100;
}
span{
    color: red;
}
.color{
    background-color: #37CC8A;
    color: white;
}
@media(max-width: 360px) {
    .text-style1{
        padding: 50px 0 0 0;
    }
    h1{
        font-size: 1.7rem;
        text-align: center;
        font-family: Poppins;
        line-height: 2.0rem;
    }
    body{
        margin: 20px 0 0 0;
        /* box-sizing: border-box; */
    }
    #container{
        display: block;
    }
    .leftdiv{
        width: 100%;
        text-align: center;
    }
    .rightdiv{
        width: 100%;
        margin: 13px;
        /* margin-top: 40px; */
    }
    .input-styling0{
        width: 90%;
        height: 5vh;
    }
    .input-styling1{
        width: 90%;
        height: 50vh;
    }
    .input-styling{
        width: 80%;
        height: 5vh;
        margin-top: 10px;
        font-size: 0.6rem;
    }
    .text-style1{
        text-align: center;
        padding-top: 14px;
        font-size: 0.8rem;
    }
    small{
        padding: 0 5px 0 15px;
    }
    .text-style{
        margin-top: 15px;
        font-family: Poppins;
        font-size: 0.8rem;
        padding: 0 5px 0 5px;
    }
}
@media(max-width: 425px) {
    .text-style1{
        padding: 50px 0 0 0;
    }
    h1{
        font-size: 1.7rem;
        text-align: center;
        font-family: Poppins;
        line-height: 2.0rem;
    }
    body{
        margin: 20px 0 0 0;
        /* box-sizing: border-box; */
    }
    #container{
        display: block;
    }
    .leftdiv{
        width: 100%;
        text-align: center;
    }
    .rightdiv{
        width: 100%;
        margin: 13px;
        /* margin-top: 40px; */
    }
    .input-styling0{
        width: 90%;
        height: 5vh;
    }
    .input-styling1{
        width: 90%;
        height: 50vh;
    }
    .input-styling{
        width: 80%;
        height: 5vh;
        margin-top: 10px;
        font-size: 0.6rem;
    }
    .text-style1{
        text-align: center;
        padding-top: 14px;
        font-size: 0.8rem;
    }
    small{
        padding: 0 5px 0 15px;
    }
    .text-style{
        margin-top: 15px;
        font-family: Poppins;
        font-size: 0.8rem;
        padding: 0 5px 0 5px;
    }
}
@media(max-width: 768px) {
    .text-style1{
        padding: 50px 0 0 0;
    }
    h1{
        font-size: 1.7rem;
        text-align: center;
        font-family: Poppins;
        line-height: 2.0rem;
    }
    body{
        margin: 20px 0 0 0;
        /* box-sizing: border-box; */
    }
    #container{
        display: block;
    }
    .leftdiv{
        width: 100%;
        text-align: center;
    }
    .rightdiv{
        width: 100%;
        margin: 13px;
        /* margin-top: 40px; */
    }
    .input-styling0{
        width: 90%;
        height: 5vh;
    }
    .input-styling1{
        width: 90%;
        height: 60vh;
    }
    .input-styling{
        width: 80%;
        height: 5vh;
        margin-top: 10px;
        font-size: 0.6rem;
    }
    .text-style1{
        text-align: center;
        padding-top: 14px;
        font-size: 0.8rem;
    }
    small{
        padding: 0 5px 0 15px;
    }
    .text-style{
        margin-top: 15px;
        font-family: Poppins;
        font-size: 0.8rem;
        padding: 0 5px 0 5px;
    }
}
/*@media(max-width: 1024px) {
    .text-style1{
        padding: 50px 0 0 0;
    }
    h1{
        font-size: 1.7rem;
        text-align: center;
        font-family: Poppins;
        line-height: 2.0rem;
    }
    body{
        margin: 20px 0 0 0;
        /* box-sizing: border-box; */
    }
    #container{
        display: flex;
    }
    .leftdiv{
        width: 100%;
        text-align: center;
    }
    .rightdiv{
        width: 100%;
        margin: 13px;
        /* margin-top: 40px; */
    /*}
    .input-styling0{
        width: 90%;
        height: 5vh;
    }
    .input-styling1{
        width: 90%;
        height: 50vh;
    }
    .input-styling{
        width: 80%;
        height: 5vh;
        margin-top: 10px;
        font-size: 0.6rem;
    }
    .text-style1{
        text-align: center;
        padding-top: 14px;
        font-size: 0.8rem;
    }
    small{
        padding: 0 5px 0 15px;
    }
    .text-style{
        margin-top: 15px;
        font-family: Poppins;
        font-size: 0.8rem;
        padding: 0 5px 0 5px;
    }
}*/
